<!DOCTYPE html>
<html>
<head lang="{{ LANGUAGE_CODE }}">
	<title>
		{% block head_title %} Network Agency {% endblock head_title %}
	</title>
	# {% include 'snippets/head.html' %}
	
</head>
<body>
<section class="bienvenido">
{% include 'snippets/header.html' %}

		{% block section %}{% endblock section %}

</section>

<main class="main-wrap">

		<div class="wrap-content">

		{% block content %}{% endblock content %}			
		
		</div>
</main>
{% include 'snippets/footer.html' %}
{% include 'snippets/js.html' %}


</body>

</html>